---
layout: empty
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>AAP ABAP Doc</title>
  </head>
  <frameset cols="25%,75%">
    <frame>
      {% for collection in site.collections %}
      {% unless collection.label == 'posts' %}
      <h2>{{collection.label}}</h2>
      <ul>
        {% for file in collection.files %}
        <li><a href="{{ file.path }}" target="content">{{ file.path }}</a></li>
        {% endfor %}
      </ul>
      {% endunless %}
      {% endfor %}
    </frame>
    <frame id="content"></frame>
  </frameset>
</html>
